<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='frexible.css') }}">
    <title>コード譜変換</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand " href="#">MENU：</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">歌詞コピー</a>
            </li>
          </ul>
    
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/convert">コード譜変換</a>
            </li>
    
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <h2 class="pb-2 mt-4 mb-2 border-bottom">コード譜変換</h2>
      <h4>コード＆歌詞のテキストを入力してください</h4><br>
        <div class="row">
          <div class="col-sm">
            <form action="/result" method="POST", id="url-form">
                <div class="form-group">
                    <label for="text1">URL:</label>
                    <input type="text" name="url" id="url" class="form-control"><br>
                    <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </div>
            </form>
          </div>
        </div>


        <div class="row">
          <div class="col-sm">
            <button onclick="copyToClipboard()" id="copy-button" class="btn btn-danger mb-2" disabled>Copy</button><br>
            <textarea class="col-sm form-control row=100" id="output" readonly></textarea>
          </div>
        </div>

        <!-- <div class="FlexTextarea">
          <div class="FlexTextarea__dummy" aria-hidden="true"></div>
          <textarea id="FlexTextarea" class="FlexTextarea__textarea"></textarea>
        </div> -->
      </div>


<script type="text/javascript">
    $(document).ready(function() {
      //①formのsubmitボタンをクリック
      $('#url-form').on('submit',function(event){
　　　　　//②Ajax通信
        event.preventDefault();
        $.ajax({
          data : {
　　　　　　　//③form内inputの値、リクエスト(POST or GET),リクエスト先のURLを記述
            url : $('#url').val(),
          },
          type : 'POST',
          url : '/result'
        })
　　　　　//④formの下に結果を表示
        .done(function(data){
          $('#output').html(data.output);
          document.getElementById("copy-button").removeAttribute("disabled");
        });
      });
    });
  </script>
    <script>
    function copyToClipboard() {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById("output");

        // コピー対象のテキストを選択する
        copyTarget.select();

        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");

        // コピーをお知らせする
        alert("コピーできました！");
    }

    function flexTextarea(el) {
      const dummy = el.querySelector('.FlexTextarea__dummy')
      el.querySelector('.FlexTextarea__textarea').addEventListener('input', e => {
        dummy.textContent = e.target.value + '\u200b'
      })
    }
    document.querySelectorAll('.FlexTextarea').forEach(flexTextarea);
</script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
  </body>
</html>